<div class="row py-2 bg-gradient mt-2 mx-0 rounded-top-2">
  <div class="col-6">
    <h3>Autors</h3>
  </div>
  <div class="col-6 text-end">
    <button class="btn btn-success" (click)="openModal()"> Cadastrar Autor</button>
  </div>
</div>
@if (autorList && autorList.length > 0) { <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Cod.</th>
      <th>Nome</th>
      <th class="text-end">Ações</th>
    </tr>
  </thead>
  <tbody>
    @for (item of autorList; track $index) {
    <tr>
      <td>{{ item.cod }}</td>
      <td>{{ item.nome }}</td>
      <td class="text-end">
        <button class="btn btn-primary mx-1" (click)="OnEdit(item)"> Editar</button>
        <button class="btn btn-danger " (click)="onDelete(item)"> Remover</button>
      </td>
    </tr>
    }
  </tbody>
</table>
}@else {
<h5 class="text-center p-5">Nenhum autor encontrado</h5>
}

<div class="modal bg-black bg-opacity-50" id="modalSave" #modalSave>
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-info-subtle">
        @if(autorForm.value.cod != 0)
        {
        <h4 class="modal-title">Alterar Autor</h4>
        }@else {
        <h4 class="modal-title">Cadastrar Autor</h4>
        }

        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
      </div>
      <form [formGroup]="autorForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <label for="nome" class="form-label">Nome:</label>
              <input type="text" formControlName="nome" name="nome" class="form-control" placeholder="nome" />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          @if (autorForm.value.cod == 0) {
          <button type="submit" [disabled]="this.autorForm.invalid" class="btn btn-primary"
            data-bs-dismiss="modal">Cadastrar</button>
          }@else {
          <button type="submit" [disabled]="this.autorForm.invalid" class="btn btn-success"
            data-bs-dismiss="modal">Atualizar</button>
          }

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
