<div class="row py-2 bg-gradient mt-2 mx-0 rounded-top-2">
  <div class="col-6">
    <h3>Livros</h3>
  </div>
  <div class="col-6 text-end">
    <button class="btn btn-success" (click)="openModal()"> Cadastrar Livro</button>
  </div>
</div>
@if (livroList && livroList.length > 0) {
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Cod.</th>
      <th>Título</th>
      <th>Editora</th>
      <th>Edição</th>
      <th>Ano de Publicação</th>
      <th class="text-end">Ações</th>
    </tr>
  </thead>
  <tbody>
    @for (item of livroList; track $index) {
    <tr>
      <td>{{ item.cod }}</td>
      <td>{{ item.titulo }}</td>
      <td>{{ item.editora }}</td>
      <td>{{ item.edicao }}</td>
      <td>{{ item.anoPublicacao }}</td>
      <td class="text-end">
        <button class="btn btn-primary mx-1" (click)="OnEdit(item)">Editar</button>
        <button class="btn btn-danger" (click)="onDelete(item)">Remover</button>
      </td>
    </tr>
    }
  </tbody>
</table>
}@else {
<h5 class="text-center p-5">Nenhum livro encontrado</h5>
}

<div class="modal bg-black bg-opacity-50" id="modalSave" #modalSave>
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-info-subtle">
        @if(livroForm.value.cod != 0)
        {
        <h4 class="modal-title">Alterar Livro</h4>
        }@else {
        <h4 class="modal-title">Cadastrar Livro</h4>
        }

        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
      </div>
      <form [formGroup]="livroForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              <label for="titulo" class="form-label">Título:</label>
              <input type="text" formControlName="titulo" name="titulo" class="form-control" placeholder="título" />
            </div>
            <div class="col-12">
              <label for="editora" class="form-label">Editora:</label>
              <input type="text" formControlName="editora" name="editora" class="form-control" placeholder="editora" />
            </div>
            <div class="col-12">
              <label for="edicao" class="form-label">Edição:</label>
              <input type="number" formControlName="edicao" name="edicao" class="form-control" placeholder="edição" />
            </div>
            <div class="col-12">
              <label for="edicao" class="form-label">Ano de Publicação:</label>
              <input type="number" formControlName="anoPublicacao" name="anoPublicacao" class="form-control"
                placeholder="ano de publicação" />
            </div>
            <div class="col-12">
              <label for="assuntos" class="form-label">Assuntos:</label>
              <select formControlName="assuntoCods" name="assuntos" multiple class="form-control">
                <option *ngFor="let assunto of allAssuntos" [value]="assunto.cod">{{ assunto.descricao }}</option>
              </select>
            </div>
            <div class="col-12">
              <label for="autors" class="form-label">Autores:</label>
              <select formControlName="autorCods" multiple class="form-control">
                <option *ngFor="let autor of allAutors" [value]="autor.cod">{{ autor.nome }}</option>
              </select>
            </div>

            <table class="table" formArrayName="formaCompraVals">
              <thead>
                <tr>
                  <th>Forma de Compra</th>
                  <th>Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fg of getControls(); let i = index" [formGroupName]="i">
                  <td>{{ allFormaCompras[i].descricao }}</td>
                  <td>
                    <input type="number" formControlName="valor" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          @if (livroForm.value.cod == 0) {
          <button type="submit" [disabled]="this.livroForm.invalid" class="btn btn-primary"
            data-bs-dismiss="modal">Cadastrar</button>
          }@else {
          <button type="submit" [disabled]="this.livroForm.invalid" class="btn btn-success"
            data-bs-dismiss="modal">Atualizar</button>
          }

          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Fechar</button>
        </div>
      </form>
    </div>
  </div>
</div>
