<button class="btn btn-primary mb-2 printButton" (click)="printPage()">Imprimir</button>

<h1>Relatório de livros por autor</h1>

<div *ngFor="let group of groupedRelatorio">
  <h3>{{ group.autorNome }}</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Livro</th>
        <th>Editora</th>
        <th>Edição</th>
        <th>Ano</th>
        <th>Assuntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of group.items">
        <td>{{ item.livroTitulo }}</td>
        <td>{{ item.livroEditora }}</td>
        <td>{{ item.livroEdicao }}</td>
        <td>{{ item.livroAno }}</td>
        <td>
          <ul>
            <li *ngFor="let assunto of item.assuntos">{{ assunto }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
