<nav class="navbar navbar-expand-lg m-md-3">
  <div class="container-fluid">
    <a class="navbar-brand bg-dark-subtle rounded-4 px-3" href="/">Livros CRUD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/livro">Livros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/assunto">Assuntos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autor">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forma">Formas de Compra</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Cadastros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/assunto">Assuntos</a></li>
            <li><a class="dropdown-item" href="/autor">Autores</a></li>
            <li><a class="dropdown-item" href="/forma">Formas de Compra</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Relatórios
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/relatorio_por_autor">Livros por Autor</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Livros por Assunto</a></li>
            <li><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Livros por Ano de
                Publicação</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet />
<app-toast-container></app-toast-container>
